Mounting my Google Drive in order to access the data

Reading the first line from the website dataset to understand the structure

In [1]:
import pandas as pd
import gcsfs
from gcsfs.core import GCSFileSystem
gcs = GCSFileSystem('courseradataeng', token='/home/jupyter/.config/gcloud/application_default_credentials.json')

In [4]:
pathFiles = 'soleadify_sample_data/raw_data/'

In [8]:
with gcs.open(pathFiles+'website dataset.csv') as f:
    line = f.readline()

print(line)

b'root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category,,,,,,\r\n'

Seems like there are several columns at the end that do not contain any sort of information. I will try to read the whole dataset and if these columns do not contain anything I will discard them.

In [9]:
with gcs.open(pathFiles+'website dataset.csv') as f:
    website_dataset = pd.read_csv(f)
website_dataset.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (12,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,converterman.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,clothesencounter.ca,ca,en,NaN,cardigan,canada,prince edward island,13066937766,Clothes Encounter,ca,Shoes & Other Footwear Stores,NaN,NaN,NaN,NaN,NaN,NaN
2,investa.com.au,com.au,en,Investa Wholesale Funds Management Limited,brisbane,australia,queensland,61282269300,Investa Property Group,au,Real Estate Developers,NaN,NaN,NaN,NaN,NaN,NaN
3,timminsgarage.com,com,en,Timmins Garage Inc.,timmins,canada,ontario,18775896640,Timmins Garage,com,Automobile Dealers & Manufacturers,NaN,NaN,NaN,NaN,NaN,NaN
4,destinate.ca,ca,en,Destinate Group Ltd.,NaN,Canada,NaN,NaN,Destinate Group,ca,Business Consulting,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
website_dataset.columns

Index(['root_domain', 'domain_suffix', 'language', 'legal_name', 'main_city',
       'main_country', 'main_region', 'phone', 'site_name', 'tld',
       's_category', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [ ]:
columns = ['Unnamed: '+str(i) for i in range(11,17)]
print('Website dataset has',website_dataset.shape, 'rows')
extra_columns = website_dataset[columns].apply(lambda col: col.notna()).sum()
print('In the unnamed columns we have the following number of records which are not null')
extra_columns

Website dataset has (71917, 17) rows
In the unnamed columns we have the following number of records which are not null

Unnamed: 11    8
Unnamed: 12    3
Unnamed: 13    2
Unnamed: 14    2
Unnamed: 15    2
Unnamed: 16    2
dtype: int64

Seems like the last 6 columns do not have a name nor do they contain any sort of information. Therefore I will discard them as they do not bring value.

In [10]:
columns_to_include = [x for x in range(11)]
with gcs.open(pathFiles+'website dataset.csv') as f:
    website_dataset = pd.read_csv(f, usecols = columns_to_include)

In [ ]:
website_dataset.head(10)

            root_domain domain_suffix  ...  tld                           s_category
0      converterman.com           NaN  ...  NaN                                  NaN
1   clothesencounter.ca            ca  ...   ca        Shoes & Other Footwear Stores
2        investa.com.au        com.au  ...   au               Real Estate Developers
3     timminsgarage.com           com  ...  com   Automobile Dealers & Manufacturers
4          destinate.ca            ca  ...   ca                  Business Consulting
5           ironcrow.ca            ca  ...   ca                     Furniture Stores
6     springboarddm.com           com  ...  com                       Data Solutions
7  stoneandtilesrus.com           com  ...  com                           Tile Store
8          mdaccpap.com           com  ...  com         Medical Supply Manufacturers
9           micacchi.ca            ca  ...   ca  Architects & Architectural Services

[10 rows x 11 columns]

In [11]:
with gcs.open(pathFiles+'google dataset.csv') as f:
    google_dataset = pd.read_csv(f)
google_dataset.head()

ParserError: Error tokenizing data. C error: Expected 15 fields in line 18, saw 16

It seems that Line 18 of the google dataset has more fields than expecting. I will read 1 line from the beginning and line 18 to compare them. Then I will decide on the approach

In [12]:
with gcs.open(pathFiles+'google dataset.csv') as f:
    for index, line in enumerate(f):
        if index == 0:
            header = line
        elif index == 1:
            line_1 = line
        elif index == 18:
            line_18 = line
        elif index>18:
            break
print(header)
print(line_1)
print(line_18)

b'address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain\n'
b'"28 Central Coast Hwy, West Gosford NSW 2250, Australia",Fabric-Based Home Goods,gosford,au,australia,Spotlight West Gosford,+61243355946,au,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) \xc2\xb7 Craft store West Gosford NSW, Australia Closed \xe2\x8b\x85 Opens 9AM Sun \xc2\xb7 +61 2 4335 5946 In-store pickup\xc2\xb7In-store shopping",2250,spotlightstores.com\n'
b'"363 Horton St E, London, ON N6B 1L6, Canada",Beauty Salons - Equipment & Supplies,london,"",canada,Halo Hair Co,"","",363 Horton St E,"",on,ontario,"4.7 (3) \xc2\xb7 Hairdresser 363 Horton St E Closed \xe2\x8b\x85 Opens 10AM Tue \\"Loved the energy and the vibe in the salon.. and love my hair!!!\\"",n6b 1l6,instagram.com\n'

In [13]:
with gcs.open(pathFiles+'google dataset.csv') as f:
    google_dataset = pd.read_csv(f, quotechar='"', escapechar='\\')

In [ ]:
google_dataset.head(10)

                                             address  ...               domain
0  28 Central Coast Hwy, West Gosford NSW 2250, A...  ...  spotlightstores.com
1   400 Scott St, St. Catharines, ON L2M 3W2, Canada  ...      bookmanager.com
2      191 Pleasant St, Yarmouth, NS B5A 2J9, Canada  ...        timbermart.ca
3  11040 Santa Monica Blvd Suite 370, Los Angeles...  ...            linktr.ee
4                                                NaN  ...            linktr.ee
5                        Ferndale, MI, United States  ...            linktr.ee
6            321 Kent St, Sydney NSW 2000, Australia  ...     icare.nsw.gov.au
7          55 S Cleveland Ave, Westerville, OH 43081  ...       kindercare.com
8  4050 S Torrey Pines Dr, Las Vegas, NV 89103, U...  ...       kindercare.com
9  7+ years in business · St Paul, MN, United States  ...       kindercare.com

[10 rows x 15 columns]

Seems like adding an escape char worked, google data has been read.

In [14]:
with gcs.open(pathFiles+'facebook dataset.csv') as f:
    facebook_dataset = pd.read_csv(f, quotechar='"', escapechar='\\')

In [ ]:
facebook_dataset.head(10)

                    domain  ... zip_code
0       euro-hygiene-34.fr  ...    30420
1  lakesidehomeservices.ca  ...      NaN
2        rossiterboats.com  ...      NaN
3     caa-architecture.com  ...  v6b 1g1
4            apexsurety.ca  ...  r3l 2t7
5           collins-cc.edu  ...      NaN
6          dovercheese.com  ...  n0a 1n0
7       alphascientific.ca  ...  v6p 5a2
8           modernmama.com  ...      NaN
9         unitysodfarm.com  ...      NaN

[10 rows x 16 columns]

I will next evaluate the information available in the 3 datasets:
*   what columns are in each dataset?
    - which are common? -> could be used as linkage keys
    - which are unique -> useful to expand the information available
*   how many companies are in each dataset?
    - if there is no overlap then in total I should have the sum of rows of the 3 datasets
    - there should be at least some form of overlapping -> how do I evaluate how much data I have to discard due to linkaged mismatch?

In [15]:
print('Website columns', website_dataset.columns)
print('Google columns', google_dataset.columns)
print('Facebook columns', facebook_dataset.columns)

Website columns Index(['root_domain', 'domain_suffix', 'language', 'legal_name', 'main_city',
       'main_country', 'main_region', 'phone', 'site_name', 'tld',
       's_category'],
      dtype='object')
Google columns Index(['address', 'category', 'city', 'country_code', 'country_name', 'name',
       'phone', 'phone_country_code', 'raw_address', 'raw_phone',
       'region_code', 'region_name', 'text', 'zip_code', 'domain'],
      dtype='object')
Facebook columns Index(['domain', 'address', 'categories', 'city', 'country_code',
       'country_name', 'description', 'email', 'link', 'name', 'page_type',
       'phone', 'phone_country_code', 'region_code', 'region_name',
       'zip_code'],
      dtype='object')

It looks that there are a lot of columns that are common. However it seems that the same column is slightly different in each dataset.

I will divide the columns into several clusters:
Cluster 1 - Columns which can be used to split the datasets into smaller chuks which can be easier to link. For example it should be easier to link Insurance companies from USA, New York across the 3 datasets, than linking everything using all columns. The matching algorithm will have to work on a smaller set -> probably better results and performance.

Here I include geographical information such as
*   City
    - Websiste -> called main_city
    - Google -> called city
    - Facebook -> called city
*   Country
    - Website -> called main_country
    - Google -> called country_name
    - Facebook -> called country_name
*    Region
    - Website -> called main_region
    - Google -> called region_name; also available region_code
    - Facebook -> called region_name; also available region_code

On top of that between Google and Facebook datasets there seems to be also the Zip Code which is common and could be used to further narrow down the matching. Between these 2 it seems that we also have some form of address field in both datasets. Could be useful as well.

Also the category could be useful. Howver across the 3 datasets this field seems to store slightly different information.
*   Category
    - Website -> called s_category -> this seems to include only top level information such as "Business Consulting", "Furniture Store"
    - Google -> called category -> this seems to include only top level information such as "Book Stores", "Catering & Delivery"
    - Facebook -> called categories. It seems to be a much more detailed Category Tree such as 

Cluster 2 - Columns which can be used to uniquely identify a company. They could be used individually or combined.


*   Domain
    - Website -> called root_domain
    - Google -> called domain
    - Facebook -> called domain
*   Company name
    - Website -> 2 fields: site_name, legal_name
    - Google -> called name
    - Facebook -> called name
*   Phone
    - Websiste -> called phone. It seems to be a number stored as string, however it does not include the + as part of the dialing code.
    - Google -> 2 fields: phone, string as number, raw_phone, string which includes the dialing code
    - Facebook -> phone, string as number

Between Google and Facebook there is also the phone_country_code which is common and could be used together with the Geographical information to match the data. Besides this, the address field is also common. However it seems that the address field is slightly different. It will need more investigation before using it

Finally there is a set of information which is unique to a dataset:


*   Website: legal_name, language and tld (top-level domain). Out of these 3, the legal_name is rather unique and possibly expanding the information available. Language and tld don't seem to be that useful. 
*   Google: text. It seems to be a combination of address, Google Rating and something else.
*   Facebook: description, email, link, page_type. Out of these, the link is the least useful information. It is to some extent already included in the domain. Protocol is however not included here. Email, description are extremly useful and unique. Page Type can also be useful, but it's mainly subject to the definition used by Facebook.

In [ ]:
print('Website dataset has {0:,} rows'.format(website_dataset.shape[0]))
print('Google dataset has {0:,} rows'.format(google_dataset.shape[0]))
print('Facebook dataset has {0:,} rows'.format(facebook_dataset.shape[0]))

Website dataset has 71,917 rows
Google dataset has 356,520 rows
Facebook dataset has 72,010 rows

Based on the analysis of common columns and number of rows, the high level strategy will be to
Step 1: Link Google and Facebook data into a single dataset
Step 2: Link the combined dataset with the Website dataset

Reason for this approach is:
*   Google and Facebook have a few more columns in common. To be investigated to what extent this columns actually have data and how information is structured in them.
*   Google is the dataset with the most rows. Standalone it has the most value. The other 2 datasets have only 20% of the number of rows. Therefore at best they could: either increase the dataset with 20% more rows (union - no common rows) or increase the information available for 20% of the Google dataset (join - all rows are in common).

Next step is to explore the quality of each dataset:
*    How many missing values in each column?
*    Are the countries / regions consistent or are there variations - UPPERCASE, lowercase, Titlecase etc.
*    Are there duplicates?

In [ ]:
website_dataset.describe()

           root_domain  ...                                        s_category
count            71917  ...                                             70677
unique           71917  ...                                               568
top     bbqgourmet.com  ...  Executive, Legislative & Government Institutions
freq                 1  ...                                              1508

[4 rows x 11 columns]

Based on the output above:
*    root_domain can be used to uniquely identify a row. Count is equal to Unique therefore no duplicates.
*    legal_name - count is higher than unique. This means that some root_domains are associated to the same legal_names. There are duplicates in this column
*    site_name seems to cover more of the data than legal_name. However the degree of duplication is higher.
*    unique country count is 253. There are only 195 countries in the world -> there is duplication also in the form of inconsistent writing of the same information.
*    phone - unique is lower than count. Again a case of duplication

In [ ]:
# I want to check that the root_domain is truly unique or actually duplication exists, it's just hidden by Case variation
(website_dataset['root_domain'].apply(lambda x: (x.lower()).strip())).describe()
# It seems that is indeed unique, that is good

count              71917
unique             71917
top       bbqgourmet.com
freq                   1
Name: root_domain, dtype: object

In [16]:
site_names_raw = website_dataset.groupby('site_name')['root_domain'].count().sort_values(ascending = False)
print(site_names_raw.head(30))
# Based on this output I'm going to apply some cleaning on this column
import numpy as np
replacements = ['Mysite','mysite', 'My Site', 'My site','Home', 'website', '#NAME?']
website_dataset['site_name_clean']=website_dataset['site_name'].replace(replacements, [np.nan] * len(replacements)).str.strip()

site_names_cleaned = website_dataset.groupby('site_name_clean')['root_domain'].count().sort_values(ascending = False)
print(site_names_cleaned.head(30))
print(site_names_cleaned.tail(30))

site_name
Mysite                                  40
mysite                                  29
The Canadian Real Estate                27
Home                                    24
InMotion Hosting                        16
Desjardins Insurance                    15
InterWorx                               15
website                                 14
#NAME?                                  10
SchoolMessenger                         10
ShopCity.com                             8
Hosting                                  8
TCS                                      8
Royal LePage                             8
Website.com Solutions                    8
Net Driven                               8
NodeWorx                                 8
CFA                                      7
Red Deer                                 7
AMVOQ                                    7
Standard Auto Glass                      7
Garaga                                   7
Directwest                               6
Unilever                                 6
Skyward                                  6
Hilti                                    6
The Canadian Real Estate Association     6
CCA                                      6
The Salvation Army                       6
KONE                                     5
Name: root_domain, dtype: int64
site_name_clean
The Canadian Real Estate                27
InMotion Hosting                        16
InterWorx                               15
Desjardins Insurance                    15
SchoolMessenger                         10
Royal LePage                             8
NodeWorx                                 8
Hosting                                  8
Website.com Solutions                    8
TCS                                      8
Net Driven                               8
ShopCity.com                             8
Red Deer                                 7
Garaga                                   7
CFA                                      7
Standard Auto Glass                      7
AMVOQ                                    7
Unilever                                 6
The Canadian Real Estate Association     6
Hilti                                    6
Skyward                                  6
CCA                                      6
Directwest                               6
The Salvation Army                       6
Goodyear                                 5
Vodafone                                 5
Airbnb                                   5
TAS                                      5
Intel                                    5
Philips                                  5
Name: root_domain, dtype: int64
site_name_clean
Friendly Travel                                                    1
Freudenberg Performance Materials                                  1
Fric's Auto Repair                                                 1
Frida Beauty Bar                                                   1
Friday Professional Group                                          1
Fridays Image                                                      1
Frieda's Schreibwaren                                              1
Friedl Dentistry                                                   1
Friedman Mansour                                                   1
Friend Public Schools                                              1
Friendly Fables                                                    1
Friendly Financial Coach                                           1
Friendly Nails                                                     1
Friendly Renovations                                               1
Friends Auto Repair                                                1
Fringe Hair Spa                                                    1
Friends Auto Repair Service                                        1
Friends of Greenwich Park                                          1
Friends of Kennington Park                                         1
Friends of Page Park                                               1
Friends of Yoho                                                    1
Friendswood United Methodist                                       1
Friesen Plastics                                                   1
Friesen Tractor                                                    1
Friesen Tree Services                                              1
Frigorifics Ferrer, S.A.U.                                         1
Frigotech: Climatisation, Réfrigération, Ventilation, Chauffage    1
Frima                                                              1
Fringe Architectural Studio                                        1
한신플러스케어                                                            1
Name: root_domain, dtype: int64

In [17]:
categories_raw = website_dataset.groupby('s_category')['root_domain'].count().sort_values(ascending = False)
print(categories_raw.head(30))
print(categories_raw.tail(30))

# Based on the output there are a few instances that can be replaced and also some case incosistency
replacements = ['com','org', 'ru']
website_dataset['category_clean']=(website_dataset['s_category'].replace(replacements, [np.nan] * len(replacements)).str.strip()).str.title()

categories_cleaned = website_dataset.groupby('category_clean')['root_domain'].count().sort_values(ascending = False)
print(categories_cleaned.head(30))
print(categories_cleaned.tail(30))

s_category
Executive, Legislative & Government Institutions    1508
Colleges & Universities                             1323
High Schools                                        1277
Home Builders & Renovation Contractors               919
Automobile Dealers & Manufacturers                   873
Parked Domains                                       785
Auto Services                                        756
Tech Companies                                       753
Real Estate - Agents & Managers                      738
Bakeries & Desserts                                  686
Commercial Printing                                  674
Landscaping & Lawn Services                          653
Churches & Religious Organizations                   632
Yoga Studios                                         629
Heating & Air Conditioning                           601
Oil & Gas - Extraction & Distribution                561
Social Services & NGOs                               508
Employment Agencies & HR Consulting                  487
Electrical & Wiring Contractors                      430
Hair Salons                                          425
Restaurants                                          414
Accounting & Bookkeeping Services                    413
Windows & Door Shops                                 409
Dance Schools                                        408
Clinics - Surgeons & Physicians                      407
Decorators & Interior Designers                      405
Libraries                                            404
Newspapers & Magazines                               401
Trucking and Logistics                               395
Architects & Architectural Services                  389
Name: root_domain, dtype: int64
s_category
Nephrology Clinic                        11
Watch Repair Shop                        10
Domestic Violence NGOs                   10
Gastroenterology Clinics                  9
Media & Telecom Associations              9
Title Abstract & Settlement Offices       9
Abortion Clinics                          8
Allergists                                8
Fur Goods                                 8
Adult Entertainment Clubs                 7
Forging & Metal Stampings                 7
Estate Planning & Elder Law Attorneys     7
Boys & Girls Clubs                        7
YMCA Camps                                6
Urology Clinics                           6
Bail Bonds                                6
Endodontists                              6
Skydiving Center                          6
Haunted Houses                            5
Sex Shops                                 4
Glaziers & Glass Contractors              3
Escrow Companies                          2
Scout Camps                               2
com                                       2
org                                       2
Veterinary Associations                   1
Uralkali                                  1
mesquite                                  1
ru                                        1
wilmington                                1
Name: root_domain, dtype: int64
category_clean
Executive, Legislative & Government Institutions    1508
Colleges & Universities                             1323
High Schools                                        1277
Home Builders & Renovation Contractors               919
Automobile Dealers & Manufacturers                   873
Parked Domains                                       785
Auto Services                                        756
Tech Companies                                       753
Real Estate - Agents & Managers                      738
Bakeries & Desserts                                  686
Commercial Printing                                  674
Landscaping & Lawn Services                          653
Churches & Religious Organizations                   632
Yoga Studios                                         629
Heating & Air Conditioning                           601
Oil & Gas - Extraction & Distribution                561
Social Services & Ngos                               508
Employment Agencies & Hr Consulting                  487
Electrical & Wiring Contractors                      430
Hair Salons                                          425
Restaurants                                          414
Accounting & Bookkeeping Services                    413
Windows & Door Shops                                 409
Dance Schools                                        408
Clinics - Surgeons & Physicians                      407
Decorators & Interior Designers                      405
Libraries                                            404
Newspapers & Magazines                               401
Trucking And Logistics                               395
Architects & Architectural Services                  389
Name: root_domain, dtype: int64
category_clean
Entertainers                             11
Comedy Club                              11
Nephrology Clinic                        11
Cardiology Clinics                       11
Domestic Violence Ngos                   10
Watch Repair Shop                        10
Media & Telecom Associations              9
Gastroenterology Clinics                  9
Title Abstract & Settlement Offices       9
Allergists                                8
Fur Goods                                 8
Abortion Clinics                          8
Estate Planning & Elder Law Attorneys     7
Adult Entertainment Clubs                 7
Forging & Metal Stampings                 7
Boys & Girls Clubs                        7
Endodontists                              6
Skydiving Center                          6
Urology Clinics                           6
Ymca Camps                                6
Bail Bonds                                6
Haunted Houses                            5
Sex Shops                                 4
Glaziers & Glass Contractors              3
Escrow Companies                          2
Scout Camps                               2
Uralkali                                  1
Wilmington                                1
Veterinary Associations                   1
Mesquite                                  1
Name: root_domain, dtype: int64

In [20]:
legal_names_raw = website_dataset.groupby('legal_name')['root_domain'].count().sort_values(ascending = False)
print(legal_names_raw.head(60))
print(legal_names_raw.tail(60))

# Several action points - strings Inc. INC represent the same thing, company type
# -> All uppercase could solve the problem combined with a removal of the . at the end
# Strings- , Inc is the same as Inc
# -> Replacing the , with an empty characther should solve it
# Ltd and Limited are the same thing. Inc and Incorporated are the same thing
# Corporation, Corp are the same thing

def clean_legal_name(legal_name):
    if not pd.isna(legal_name):
        out = legal_name.rstrip(' .').replace(',','').upper()
        if out.find('LIMITED')>-1:
            out = out.replace('LIMITED','LTD')
        elif out.find('INCORPORATED')>-1:
            out = out.replace('INCORPORATED','INC')
        elif out.find('CORPORATION')>-1:
            out = out.replace('CORPORATION','CORP')
        else:
            out = legal_name
        
        return out
    else:
        return np.nan


website_dataset['legal_name_clean'] = website_dataset['legal_name'].apply(clean_legal_name)

legal_names_cleaned = website_dataset.groupby('legal_name_clean')['root_domain'].count().sort_values(ascending = False)
print(legal_names_cleaned.head(60))
print(legal_names_cleaned.tail(60))

legal_name
Blackboard, Inc.                                  211
LifeLearn Animal Health (LifeLearn Inc.)           52
Dealer Spike, LLC                                  50
REALTOR(r) Canada Inc.                             31
Desjardins Financial Security Investments Inc.     27
TouchBistro Inc.                                   27
Google, Inc.                                       26
FCA Canada Inc.                                    22
Google Inc.                                        21
PowerSchool Group LLC                              21
MH Sub I, LLC                                      21
General Motors of Canada Company                   17
Harvest Digital Planning Pty Ltd                   16
Lovingly, LLC                                      13
Innovative Interfaces, Inc.                        12
Dominion Lending Centres Inc.                      11
Apple Inc.                                         11
Google LLC                                         11
Facebook Inc.                                      10
Goodyear Canada Inc.                               10
Hetzner Online GmbH                                 9
Consolidated Funeral Services, Inc.                 9
ShopCity.com, Inc.                                  8
ARI Network Services Inc.                           8
SportsEngine, Inc.                                  8
Wheels Manufacturing Inc.                           8
Rural Press Pty Ltd                                 8
DeSales Media Group, Inc.                           8
Schoolwires, Inc.                                   8
Nissan Canada Inc.                                  7
WatchGuard Technologies, Inc.                       7
BiteBank Websites Inc.                              7
SHNIER, Gesco Limited Partnership                   7
Ford Motor Company                                  7
Bang the Table Pty Ltd                              7
Ford Motor Company of Canada                        7
Garaga Inc.                                         7
Jumptools(r) Inc.                                   6
XYZ Doohickey Company                               6
B Corp                                              6
Nationwide News Pty Ltd                             6
Google Ireland Limited                              6
Lovingly, LLC.                                      6
RIGHT AT HOME REALTY INC.                           6
Tiffany & Co.                                       6
Quadrus Investment Services Ltd.                    6
Adster Creative Inc.                                6
Skenzo Ltd.                                         6
SWsoft, Inc.                                        6
FundEX Investments Inc.                             5
Envato Pty Ltd                                      5
Red Deer, AB                                        5
Eagers Automotive Limited                           5
Koninklijke Philips N.V.                            5
Follett School Solutions, Inc.                      5
Blackboard Inc.                                     5
Dude Solutions Inc.                                 5
Facilisgroup LLP                                    5
Sandhills Global, Inc.                              4
MediaNews Group, Inc.                               4
Name: root_domain, dtype: int64
legal_name
First General Services (PA) Ltd.                       1
First Fleet Maintenance Ltd.                           1
Finevo Lending Group Ltd.                              1
Fiorino Concrete Ltd                                   1
Fireplace Experts Inc.                                 1
Fireplace Concepts Inc.                                1
Firemen Movers Inc.                                    1
Firefly Junction Inc.                                  1
Fireball Equipment Ltd.                                1
FireRein Inc.                                          1
FireMon, LLC.                                          1
Fire Tech Fire Protection Inc.                         1
Fire Cube Inc.                                         1
Fire Advisor Consulting Inc.                           1
Firat AB                                               1
FirCrest Developments Ltd.                             1
Finyl Surface Installations Ltd.                       1
First Finance Company                                  1
Finton Travel Ltd                                      1
Fino Inc                                               1
Finnegan Insurance Brokers Ltd.                        1
Finlayson Tire Ltd. & Automotive Centre                1
Finition Quebec inc.                                   1
Finition Philippe Rioux inc.                           1
Finition Elegance DC Inc.                              1
Finishing Traditions ltd.                              1
Finished Bizness Inc                                   1
FinishCoat Painting Company                            1
Finica Food Specialties, Ltd.                          1
Fingal Farm Supply Limited                             1
Fireplace Specialties, Inc.                            1
Firestone Tire and Rubber Company                      1
Firestone, CO                                          1
Firma Contracting Inc.                                 1
First Filter Service Ltd.                              1
First Fence Ltd                                        1
First Edition First Aid Training Inc.                  1
First Durham Insurance & Financial Ltd.                1
First Data Canada Ltd.                                 1
First Complete Ltd                                     1
First Class Valet, Inc.                                1
First Class Training Centre Inc.                       1
First Class Shutters Inc.                              1
First Class Realty Inc                                 1
First Class Grass A Division of 2755565 ONTARIO INC    1
First Class Finish Cleaning Company                    1
First Class Fencing Inc.                               1
First Circle Financial Services Ltd.                   1
First Choice Realty Ltd.                               1
First Choice Pest Control Ltd.                         1
First Choice Financial Limited                         1
First Choice Electrical Supply Ltd.                    1
First Capital Realty Inc.                              1
First Aid Guide Training Inc.                          1
First Aid Connect Inc.                                 1
Firon Roofing Inc.                                     1
Firmenich SA.                                          1
Firme Martin Paradis Arpenteur-Geometres Inc.          1
Firma Sports Agency Ltd.                               1
株式会社ユニマットライフ｜UNIMAT LIFE CORPORATION                   1
Name: root_domain, dtype: int64
legal_name_clean
Blackboard, Inc.                                  211
LifeLearn Animal Health (LifeLearn Inc.)           52
Dealer Spike, LLC                                  50
REALTOR(r) Canada Inc.                             31
Desjardins Financial Security Investments Inc.     27
TouchBistro Inc.                                   27
Google, Inc.                                       26
FCA Canada Inc.                                    22
MH Sub I, LLC                                      21
PowerSchool Group LLC                              21
Google Inc.                                        21
General Motors of Canada Company                   17
Harvest Digital Planning Pty Ltd                   16
Lovingly, LLC                                      13
Innovative Interfaces, Inc.                        12
Dominion Lending Centres Inc.                      11
Apple Inc.                                         11
Google LLC                                         11
Goodyear Canada Inc.                               10
Facebook Inc.                                      10
Consolidated Funeral Services, Inc.                 9
Hetzner Online GmbH                                 9
Schoolwires, Inc.                                   8
SportsEngine, Inc.                                  8
DeSales Media Group, Inc.                           8
ShopCity.com, Inc.                                  8
Wheels Manufacturing Inc.                           8
Rural Press Pty Ltd                                 8
ARI Network Services Inc.                           8
WatchGuard Technologies, Inc.                       7
BiteBank Websites Inc.                              7
SHNIER GESCO LTD PARTNERSHIP                        7
Bang the Table Pty Ltd                              7
Ford Motor Company of Canada                        7
Ford Motor Company                                  7
Nissan Canada Inc.                                  7
Garaga Inc.                                         7
Jumptools(r) Inc.                                   6
RIGHT AT HOME REALTY INC.                           6
Adster Creative Inc.                                6
Skenzo Ltd.                                         6
Lovingly, LLC.                                      6
SWsoft, Inc.                                        6
XYZ Doohickey Company                               6
B Corp                                              6
Nationwide News Pty Ltd                             6
GOOGLE IRELAND LTD                                  6
Quadrus Investment Services Ltd.                    6
Tiffany & Co.                                       6
Facilisgroup LLP                                    5
EAGERS AUTOMOTIVE LTD                               5
Blackboard Inc.                                     5
FundEX Investments Inc.                             5
Red Deer, AB                                        5
Dude Solutions Inc.                                 5
Envato Pty Ltd                                      5
Follett School Solutions, Inc.                      5
Koninklijke Philips N.V.                            5
Jones Lang LaSalle IP, Inc.                         4
WEST CORP                                           4
Name: root_domain, dtype: int64
legal_name_clean
Finition Elegance DC Inc.                       1
Finished Bizness Inc                            1
Field Law LLP                                   1
Fifth Avenue Homes Inc.                         1
Fils inc                                        1
Filogix Inc                                     1
Film.Ca Cinemas Inc.                            1
Film Rescue International Ltd.                  1
Filip Daniel Inc.                               1
Filici Immigration Services Inc.                1
Fileturn Ltd                                    1
Filament Creative Inc.                          1
Fiji Island Auto Repairs LTD.                   1
Fight 2B Fit Inc.                               1
Fifth and Missing Design Group Inc              1
Fifth Flux Networks Ltd.                        1
Fifth Ave Enterprises Ltd                       1
FinishCoat Painting Company                     1
Fiesta Tents Ltd.                               1
Fiesta Motors Inc.                              1
Fiera Biological Consulting Ltd.                1
Fieldstone Spa Ltd.                             1
Fielding Group Ltd.                             1
Fieldfisher Capital LLP                         1
Fielders SA                                     1
Fieldair Engineering Ltd                        1
FieldWireLabs, Inc.                             1
FieldWatchTM, Inc.                              1
FieldCap Inc.                                   1
Field Mold Solutions Ltd.                       1
Filthy Masters Inc.                             1
FinExpertiza LLC                                1
Final Frontiers Systems Corp                    1
Final Round Boxing Inc.                         1
Finica Food Specialties, Ltd.                   1
Finevo Lending Group Ltd.                       1
Finer Fitness Inc.                              1
Fineberry Foods Inc.                            1
Fine Tune Pilates Inc.                          1
Fine Spaces Inc.                                1
Fine Spaces Construction Inc                    1
Fine Skills Driving School Ltd                  1
Fine Furniture Manufacturing Ltd.               1
Fine Form Coaching Inc.                         1
Fine Floors ltd.                                1
Fine Finishes Design Inc.                       1
Fine Finish Wall Systems Inc.                   1
Fine Balance Brewing Company                    1
Findlay Roofing Inc.                            1
Find and Seek Entertainment (Vancouver) Inc.    1
Financiere Victoria inc.                        1
Financialworks Mortgage Corp.                   1
Financial Initiative Advisory Inc               1
Financial Debt Recovery Inc.                    1
Finance West Inc.                               1
Finance One Ltd                                 1
Finance Company Ltd.                            1
Final Stop Auto Centre inc                      1
Final Staffing Inc.                             1
株式会社ユニマットライフ｜UNIMAT LIFE CORP                   1
Name: root_domain, dtype: int64

In [21]:
countries_raw = website_dataset.groupby('main_country')['root_domain'].count().sort_values(ascending = False)
print(countries_raw.head(60))
print(countries_raw.tail(60))

#incosistent casing - Greece and greece, Taiwan and taiwan are the same thing

def clean_country(country):
    if not pd.isna(country):
        if country == ')"':
            return np.nan
        else:
            return country.strip().title()
    else:
        return np.nan

website_dataset['country_clean'] = website_dataset['main_country'].apply(clean_country)

countries_cleaned = website_dataset.groupby('country_clean')['root_domain'].count().sort_values(ascending = False)
print(countries_cleaned.head(60))
print(countries_cleaned.tail(60))

main_country
canada                  37628
united states            9503
australia                2482
Canada                   2151
united kingdom           1820
turkey                    911
russia                    698
netherlands               624
france                    609
germany                   555
south africa              539
japan                     506
united arab emirates      435
malaysia                  428
india                     405
belgium                   377
china                     255
singapore                 232
new zealand               225
hong kong                 199
Australia                 193
spain                     177
poland                    173
greece                    162
Greece                    159
italy                     153
Taiwan                    141
taiwan                    135
switzerland               110
qatar                     106
Turkey                     94
hungary                    94
philippines                88
Japan                      87
vietnam                    82
Hong Kong                  79
south korea                78
Russia                     77
mexico                     67
norway                     67
sweden                     57
denmark                    57
austria                    55
brazil                     52
thailand                   51
South Africa               49
South Korea                47
Singapore                  46
slovenia                   45
portugal                   43
oman                       42
ireland                    41
Poland                     40
saudi arabia               39
Malaysia                   39
United Arab Emirates       37
argentina                  35
Belgium                    35
indonesia                  34
Netherlands                34
Name: root_domain, dtype: int64
main_country
bermuda                              1
Cyprus                               1
sint maarten                         1
Finland                              1
ulan-ude                             1
El Salvador                          1
solomon islands                      1
Anguilla                             1
british virgin islands               1
Antigua and Barbuda                  1
Denmark                              1
french guiana                        1
vanuatu                              1
Curaçao                              1
Albania                              1
armenia                              1
bhutan                               1
aruba                                1
tajikistan                           1
faroe islands                        1
eureka                               1
gabon                                1
burundi                              1
barbados                             1
Brazil                               1
brunei                               1
bonaire, sint eustatius, and saba    1
malawi                               1
Georgia                              1
Guatemala                            1
louisville                           1
libya                                1
laos                                 1
cambodia                             1
moscow                               1
kosovo                               1
kenya                                1
Serbia                               1
Sweden                               1
Switzerland                          1
Niue                                 1
Tanzania                             1
niger                                1
Tonga                                1
Tunisia                              1
Malta                                1
Madagascar                           1
palestine                            1
Turks and Caicos Islands             1
papua new guinea                     1
Kyrgyzstan                           1
iceland                              1
Kazakhstan                           1
Venezuela                            1
haiti                                1
Iraq                                 1
guam                                 1
Republic of Lithuania                1
san marino                           1
)"                                   1
Name: root_domain, dtype: int64
country_clean
Canada                  39779
United States            9524
Australia                2675
United Kingdom           1820
Turkey                   1005
Russia                    775
Netherlands               658
France                    615
Japan                     593
South Africa              588
Germany                   577
United Arab Emirates      472
Malaysia                  467
India                     431
Belgium                   412
Greece                    321
Hong Kong                 278
Singapore                 278
Taiwan                    276
China                     265
New Zealand               231
Poland                    213
Spain                     184
Italy                     158
South Korea               125
Qatar                     115
Switzerland               111
Hungary                    96
Philippines                95
Vietnam                    88
Mexico                     75
Norway                     67
Thailand                   61
Austria                    60
Colombia                   59
Denmark                    58
Sweden                     58
Brazil                     53
Ireland                    46
Oman                       45
Slovenia                   45
Portugal                   43
Saudi Arabia               42
Indonesia                  39
Bangladesh                 39
Argentina                  38
Chile                      31
Finland                    31
Romania                    29
Sri Lanka                  28
Czechia                    24
Serbia                     24
Croatia                    24
Peru                       23
Egypt                      20
Mali                       18
Ecuador                    18
Pakistan                   16
Latvia                     14
Nigeria                    14
Name: root_domain, dtype: int64
country_clean
Tuvalu                               2
U.S. Virgin Islands                  2
Republic Of Moldova                  2
Afghanistan                          2
Belize                               2
Bahrain                              2
Cocos [Keeling] Islands              2
Cameroon                             2
French Polynesia                     2
Greenland                            2
Guinea                               2
Ivory Coast                          2
Lebanon                              2
Central African Republic             2
North Macedonia                      2
Angola                               2
Namibia                              2
Nepal                                2
New Caledonia                        2
Armenia                              1
British Virgin Islands               1
Tonga                                1
Cambodia                             1
Burundi                              1
Brunei                               1
Anguilla                             1
Turks And Caicos Islands             1
Bonaire, Sint Eustatius, And Saba    1
Aruba                                1
Bhutan                               1
Bermuda                              1
Ulan-Ude                             1
Tanzania                             1
Barbados                             1
Antigua And Barbuda                  1
Vanuatu                              1
Palestine                            1
Eureka                               1
Tajikistan                           1
Curaçao                              1
Niue                                 1
Niger                                1
Moscow                               1
Malawi                               1
Madagascar                           1
Louisville                           1
Libya                                1
Kosovo                               1
San Marino                           1
Iceland                              1
Haiti                                1
Guam                                 1
Sint Maarten                         1
Gabon                                1
Solomon Islands                      1
French Guiana                        1
Faroe Islands                        1
Papua New Guinea                     1
Cyprus                               1
Laos                                 1
Name: root_domain, dtype: int64

In [23]:
regions_raw = website_dataset.groupby('main_region')['root_domain'].count().sort_values(ascending = False)
print(regions_raw.head(60))
print(regions_raw.tail(60))

def clean_region(region):
    if not pd.isna(region):
        return region.strip(" '").strip('"').replace("'"," ").title()
    else:
        return np.nan

website_dataset['region_clean']=website_dataset['main_region'].apply(clean_region)

main_region
ontario                   20032
alberta                    7325
quebec                     4816
british columbia           2197
england                    1711
saskatchewan               1419
manitoba                   1195
texas                      1043
california                  859
victoria                    797
new south wales             646
new york                    606
illinois                    438
istanbul                    416
western australia           363
queensland                  357
florida                     345
pennsylvania                344
nova scotia                 313
ohio                        304
virginia                    301
michigan                    300
indiana                     259
dubai                       256
gauteng                     239
georgia                     230
washington                  226
north carolina              223
massachusetts               219
new jersey                  218
south australia             216
flanders                    215
wisconsin                   212
kansas                      183
minnesota                   172
new brunswick               171
colorado                    168
missouri                    166
connecticut                 163
kentucky                    162
arizona                     158
maryland                    148
selangor                    141
ile-de-france               137
yamanashi                   135
iowa                        133
baden-wurttemberg           128
kuala lumpur                125
alabama                     124
utah                        123
tennessee                   122
district of columbia        120
abu dhabi                   119
louisiana                   115
western cape                113
north rhine-westphalia      109
oregon                      108
nebraska                    107
south carolina              105
bavaria                     105
Name: root_domain, dtype: int64
main_region
kosice                             1
koprivnicko-krizevacka zupanija    1
kolda                              1
kktc                               1
kirsehir                           1
khomas                             1
khersons'ka oblast'                1
keelung                            1
kareliia respublika                1
karaman                            1
karachayevo-cherkesiya republic    1
nakhon ratchasima                  1
kanton zurich                      1
kanton schaffhausen                1
kanton graubunden                  1
kaluzhskaia oblast'                1
kaliningradskaia oblast'           1
jilin                              1
jerusalem                          1
jeollanam-do                       1
jeollabuk-do                       1
jelgava                            1
jejuteugbyeoljacido                1
isparta                            1
islamabad                          1
ingushetiya republic               1
kyiv                               1
la libertad                        1
la rioja                           1
labuan                             1
mymensingh division                1
murmansk                           1
muhafazat arbil                    1
moskovskaia oblast'                1
misiones                           1
michoacan                          1
melmoth                            1
meghalaya                          1
maule region                       1
masantol                           1
marsaskala                         1
marrakesh-safi                     1
mariy-el republic                  1
abruzzo                            1
maramures                          1
maldonado                          1
magadan oblast                     1
madadeni                           1
machakos district                  1
long an                            1
lombardia                          1
lobatse                            1
ljubljana                          1
lima                               1
liberecky kraj                     1
liaoning                           1
leiria                             1
lara                               1
lampung                            1
mardin                             1
Name: root_domain, dtype: int64

In [24]:
cities_raw = website_dataset.groupby('main_city')['root_domain'].count().sort_values(ascending = False)
print(cities_raw.head(60))
print(cities_raw.tail(60))

def clean_city(main_city):
    if not pd.isna(main_city):
        if not (main_city.strip()).isalpha():
            return main_city.strip().translate({ord(ch): None for ch in '0123456789'}).title().strip(' "').strip("'")
        elif main_city == ' Company':
            return np.nan
        else:
            return main_city.strip(" '").strip('"').title()

website_dataset['city_clean']=website_dataset['main_city'].apply(clean_city)

main_city
toronto           3293
calgary           2764
edmonton          1909
mississauga       1535
ottawa             978
montreal           929
london             890
winnipeg           854
quebec             649
brampton           629
saskatoon          578
markham            520
hamilton           502
vancouver          498
oakville           491
burlington         447
kitchener          380
richmond hill      373
barrie             371
regina             364
istanbul           362
scarborough        352
north york         344
windsor            318
woodbridge         304
dallas             279
concord            270
cambridge          257
etobicoke          250
dubai              250
guelph             250
red deer           237
lethbridge         234
waterloo           234
kingston           222
st. catharines     210
vaughan            201
grande prairie     197
milton             193
laval              180
newmarket          177
sherwood park      175
oshawa             170
brantford          169
new york           168
aurora             167
bristol            162
washington         159
pickering          158
whitby             153
thornhill          151
peterborough       151
thunder bay        150
medicine hat       141
niagara falls      138
airdrie            138
kelowna            137
sydney             137
ajax               134
melbourne          133
Name: root_domain, dtype: int64
main_city
kanpur                   1
kannus                   1
kannur                   1
kangerlussuaq            1
juille                   1
jubail                   1
juarez                   1
jamberoo                 1
jeffreys bay             1
jeffersonville           1
jbsa ft sam houston      1
jawor                    1
jasd                     1
jas                      1
jaragua do sul           1
jannali                  1
janetville               1
jamisontown              1
james cook university    1
jamaica                  1
josefov                  1
jalpaiguri               1
jaen                     1
jacksonville beach       1
jackson heights          1
jacksboro                1
jackpot                  1
jabiru                   1
j p nagar                1
ivrea                    1
ivan                     1
ivai                     1
jejusi                   1
jelgava                  1
jenison                  1
jenjarom                 1
jorethang                1
jordan                   1
jonkoping                1
jona                     1
johnstone                1
johnsonburg              1
johanneshov              1
jodhpur                  1
joaquin                  1
joacaba                  1
jitra                    1
jio                      1
jimboomba                1
jim thorpe               1
jiaxing                  1
jet park                 1
jet                      1
jessup                   1
jesolo                   1
jerseyville              1
jericho                  1
jerantut                 1
jennings                 1
zwolle                   1
Name: root_domain, dtype: int64

In [ ]:
website_dataset.head(10)

            root_domain domain_suffix  ...          region_clean   city_clean
0      converterman.com           NaN  ...                  None         None
1   clothesencounter.ca            ca  ...  Prince Edward Island     Cardigan
2        investa.com.au        com.au  ...            Queensland     Brisbane
3     timminsgarage.com           com  ...               Ontario      Timmins
4          destinate.ca            ca  ...                  None         None
5           ironcrow.ca            ca  ...               Alberta      Calgary
6     springboarddm.com           com  ...               Ontario  Mississauga
7  stoneandtilesrus.com           com  ...               Ontario     Brampton
8          mdaccpap.com           com  ...               Ontario  Thunder Bay
9           micacchi.ca            ca  ...               Ontario      Toronto

[10 rows x 17 columns]

In [25]:
website_dataset.columns

Index(['root_domain', 'domain_suffix', 'language', 'legal_name', 'main_city',
       'main_country', 'main_region', 'phone', 'site_name', 'tld',
       's_category', 'site_name_clean', 'category_clean', 'legal_name_clean',
       'country_clean', 'region_clean', 'city_clean'],
      dtype='object')

In [26]:
columns_to_keep = ['root_domain', 'domain_suffix', 'language', 'phone', 'site_name', 'tld',
                   'site_name_clean', 'category_clean', 'legal_name_clean',
       'country_clean', 'region_clean', 'city_clean']
website_dataset_clean = website_dataset[columns_to_keep].copy(deep = True)

del website_dataset, cities_raw, regions_raw, countries_raw, countries_cleaned, categories_raw, categories_cleaned
del site_names_raw, site_names_cleaned

In [27]:
with gcs.open('soleadify_sample_data/clean_data/website_dataset_clean.csv', 'w') as f:
    website_dataset_clean.to_csv(f,index=False)

After applying the cleaning on the website dataset, I will apply simillar cleaning to the Google and Facebook datasets. The purpose of this step is to create as much consistency as possible accross the 3 datasets before applying any sort of matching algorithm.

In [28]:
google_dataset.describe(include='all')

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
count,330552,304870,311002,304084,311039,356489,3.239480e+05,241258,311875,328160,310849,310854,353005,273400,356520
unique,282513,470,22200,213,187,353898,NaN,210,140744,293157,678,1508,349054,103062,72010
top,"Montreal, Quebec, Canada",Clinics - Surgeons & Physicians,calgary,us,united states,Lincoln Elementary School,NaN,ca,"Toronto, ON, Canada",+44 345 722 3344,on,ontario,"No reviews · University Guildford, United King...",97239,facebook.com
freq,1111,17229,4591,110083,132132,21,NaN,90520,1593,748,40046,40045,48,667,71983
mean,NaN,NaN,NaN,NaN,NaN,NaN,1.335193e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,2.853369e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,4.350213e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.425494e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.708520e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.318566e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,9.118001e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
domain_count = google_dataset.groupby('domain').size().sort_values(ascending = False)
print(domain_count.head(60))
print(domain_count.tail(60))

domain
facebook.com                  71983
postoffice.co.uk               6010
instagram.com                  5647
ihg.com                        4356
marriott.com                   3979
hilton.com                     3477
doctolib.fr                    3105
ameripriseadvisors.com         2378
choicehotels.com               1625
uhaul.com                      1518
gov.uk                         1511
bit.ly                         1486
spar.co.uk                     1428
411habitation.com              1097
bestwestern.com                1093
etsy.com                       1054
dignitymemorial.com            1050
uchealth.org                   1032
anchorhanover.org.uk           1012
vagaro.com                      992
iuhealth.org                    991
ochsner.org                     978
sanfordhealth.org               959
motel6.com                      929
kindercare.com                  877
homehardware.ca                 857
uwmedicine.org                  851
wexnermedical.osu.edu           829
amazon.co.uk                    826
atriumhealth.org                808
acehardware.com                 800
napaonline.com                  769
linktr.ee                       764
lifespan.org                    730
goarmy.com                      727
pennmedicine.org                724
childrenshospital.org           723
iadfrance.fr                    718
hopkinsmedicine.org             717
premier-stores.co.uk            708
guardian-ida-pharmacies.ca      697
uwhealth.org                    679
ohsu.edu                        674
statefarm.com                   672
linkedin.com                    668
airbnb.com                      666
youtube.com                     634
va.gov                          608
bannerhealth.com                606
kumon.com                       595
ouhealth.com                    571
anugo.ca                        557
massagebook.com                 547
albertahealthservices.ca        541
pharmasave.com                  540
411sante.com                    529
achurchnearyou.com              527
brookdale.com                   514
mass.gov                        510
stanfordhealthcare.org          508
dtype: int64
domain
nochallengetmg.com           1
noblewoodworks.com           1
noblewellservices.com        1
noblewealthfinancial.com     1
noblevanity.ca               1
nobletonlakesgolf.com        1
nobletonfeedmill.com         1
nobleroofingniagara.com      1
noblereign.com               1
nobleparksc.vic.edu.au       1
noblepainting.co.uk          1
noblemortgages.ca            1
noblemindbody.ca             1
noblelocksmith.ca            1
noblehall.ca                 1
nobleestates.com             1
nobledelivery.ca             1
noblecreations.ca            1
noblecountysheriff.org       1
noblechoicecoaching.com      1
noblebistro.com              1
nobilitycleaning.ca          1
nobesgranite.com             1
nobel.com.tr                 1
nobbscpa.com                 1
noariframing.com             1
noaisys.com                  1
noahsplay.com                1
nobullrv.ca                  1
nocowanie.pl                 1
nomdecodewp.com              1
nodaccess.com                1
nomadtelecom.ca              1
nomadstages.com              1
nomadmechanical.ca           1
nomadlogic.com               1
nomadicdisplay.ca            1
nomadhomes.com               1
nomadetransport.com          1
nomadeexpertsconseils.com    1
nomadechef.com               1
nomade-ergo.com              1
nomadacharters.com           1
nomad-ad.ca                  1
nom.nl                       1
nolovelosttattoos.com        1
nollclimatecare.com          1
nolimittreeservicellc.com    1
nolimitrestoration.com       1
nolabaking.com               1
nokomiscraftales.com         1
nokiantyres.ru               1
nokarafarms.ca               1
noirsalonspa.com             1
noiretbois.com               1
nohands.ca                   1
nofixedaddressinc.com        1
node1computers.com           1
noddem.com                   1
007group.com                 1
dtype: int64

In [ ]:
google_dataset.query('domain == "youtube.com"').head(5)

                                               address  ...       domain
900                                                NaN  ...  youtube.com
901                                                NaN  ...  youtube.com
902                                                NaN  ...  youtube.com
903                                                NaN  ...  youtube.com
904  COMPANY IMK PRODUCTION، Rue du Midi 51، 1000 B...  ...  youtube.com

[5 rows x 15 columns]

Based on the output above it seems that the domain is not a very reliable way of uniquely identifying a company. There are a lot of them which have facebook.com, instagram.com, youtube.com as their domain. They're probably Facebook pages or Instagram / Youtube channels, but for the purpose of building a better dataset, it's not useful for linking data.

In [29]:
countries_raw = google_dataset.groupby('country_name').size().sort_values(ascending = False)
print(countries_raw.head(30))
print(countries_raw.tail(30))
google_dataset['country_name_consistent'] = google_dataset['country_name'].apply(lambda x: x.strip().title() if not pd.isna(x) else x)
del countries_raw

country_name
united states           132132
canada                   86447
united kingdom           42311
australia                12612
france                    8960
germany                   2401
new zealand               2239
malaysia                  2036
belgium                   2006
south africa              1733
india                     1555
turkey                    1474
united arab emirates      1437
netherlands               1263
russia                    1183
japan                      954
mexico                     817
spain                      564
philippines                535
italy                      463
hong kong                  394
poland                     388
taiwan                     351
qatar                      325
ireland                    260
vietnam                    250
greece                     247
china                      234
switzerland                234
denmark                    219
dtype: int64
country_name
seychelles                          3
martinique                          3
samoa                               3
bhutan                              3
sierra leone                        2
sint maarten                        2
saint vincent and the grenadines    2
french guiana                       2
american samoa                      2
new caledonia                       2
kenya                               2
central african republic            2
bermuda                             2
maldives                            2
north macedonia                     2
dominica                            1
faroe islands                       1
french polynesia                    1
comoros                             1
jersey                              1
guinea-bissau                       1
hashemite kingdom of jordan         1
iran                                1
isle of man                         1
lesotho                             1
st kitts and nevis                  1
south sudan                         1
reunion                             1
saint lucia                         1
Åland                               1
dtype: int64

In [30]:
country_codes_raw = google_dataset.groupby('country_code').size().sort_values(ascending = False)
print(country_codes_raw.head(20))
print(country_codes_raw.tail(20))

def clean_codes(country_code):
    if not pd.isna(country_code):
        if country_code == '001':
            return np.nan
        else:
            return country_code.strip().upper()
    else:
        return np.nan

google_dataset['country_code_consistent'] = google_dataset['country_code'].apply(clean_codes)
google_dataset['phone_country_code_consistent'] = google_dataset['phone_country_code'].apply(clean_codes)

country_code
us    110083
ca     95379
gb     44919
au     12637
fr      9432
nz      2429
de      2314
be      2030
my      1757
za      1681
tr      1643
in      1480
ae      1394
nl      1229
jp      1078
ru       994
mx       959
sg       797
hk       664
ph       549
dtype: int64
country_code
001    2
td     2
cf     2
ss     2
mh     2
tm     1
pf     1
gd     1
gi     1
fo     1
dm     1
ls     1
vg     1
sl     1
nr     1
ci     1
kp     1
gw     1
km     1
im     1
dtype: int64

There are 3 fields which point to the same information - country_code, country_name, phone_country_code. These all represent a form of Country information. I will unify them in a single field.

In [ ]:
print('''There are {} instances where the country code does not exist, 
but the phone country code exists'''
.format(google_dataset[google_dataset['country_code_consistent'].isnull() & google_dataset['phone_country_code_consistent'].notna()].shape[0]))

There are 0 instances where the country code does not exist,
but the phone country code exists

This means that the phone country code is redundant at this step. I can turn it into a dialing code at a later point using country information.

In [32]:
with gcs.open(pathFiles+'iso_codes.csv') as f:
    countries_iso = pd.read_csv(f)
countries_iso.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [33]:
print(countries_iso.query('Name == "Namibia"'))
print(countries_iso[countries_iso['Code'].isna()])
countries_iso['Code'] = countries_iso['Code'].fillna('NA')
print(countries_iso.query('Name == "Namibia"'))

        Name Code
153  Namibia  NaN
        Name Code
153  Namibia  NaN
        Name Code
153  Namibia   NA

In [34]:
google_dataset = google_dataset.merge(countries_iso, how = 'left', left_on = 'country_code_consistent', right_on = 'Code')

In [ ]:
google_dataset.query('country_code_consistent == "NA"').head(5)

                                        address  ... Code
11045     Nelson Mandela Ave, Windhoek, Namibia  ...   NA
53124                                       NaN  ...   NA
83134  116 Robert Mugabe Ave, Windhoek, Namibia  ...   NA
83724           B1 Main Road, Ondangwa, Namibia  ...   NA
88008      Hendrik Witbooi, Swakopmund, Namibia  ...   NA

[5 rows x 20 columns]

In [ ]:
google_dataset[google_dataset['Code'].isna()].head(5)

                                              address  ... Code
4                                                 NaN  ...  NaN
13               1800 Orleans St, Baltimore, MD 21287  ...  NaN
17        363 Horton St E, London, ON N6B 1L6, Canada  ...  NaN
21  Europa House, Newton Ln, Wigston LE18 3SE, Uni...  ...  NaN
28                                                NaN  ...  NaN

[5 rows x 20 columns]

In [35]:
country_analysis = google_dataset.groupby(['country_name_consistent','Name']).size()
print(country_analysis.head(40))

country_name_consistent  Name
Afghanistan              Afghanistan                      4
Albania                  Albania                         32
Algeria                  Algeria                         20
                         Ukraine                          1
American Samoa           American Samoa                   2
Andorra                  Andorra                         12
Angola                   Angola                           8
Argentina                Argentina                      113
                         Belgium                          1
                         Nigeria                          1
                         South Africa                     1
Armenia                  Armenia                         16
Aruba                    Aruba                            8
Australia                Australia                    11830
                         France                           1
                         Kenya                            1
                         Nepal                            1
                         New Zealand                      1
                         Singapore                        1
                         Spain                            1
                         United Kingdom                  24
                         United States                    2
Austria                  Austria                        148
                         Germany                          1
Azerbaijan               Azerbaijan                      10
                         Iran, Islamic Republic of        1
Bahamas                  Bahamas                         12
Bahrain                  Bahrain                         18
                         Jordan                           1
Bangladesh               Bangladesh                     127
Barbados                 Barbados                         8
Belarus                  Belarus                         21
Belgium                  Belgium                       1911
                         Canada                           1
                         France                           3
                         Hong Kong                        1
                         Singapore                        1
                         United States                    1
Belize                   Belize                           6
Benin                    Benin                            9
dtype: int64

In [ ]:
print('''There are {0:,} instances where the country name is not originally present,
but based on the code the country can be determined'''
.format(google_dataset[google_dataset['country_name_consistent'].isna() & google_dataset['Name'].notna()].shape[0]))

There are 26,651 instances where the country name is not originally present,
but based on the code the country can be determined

In [36]:
def fill_country(row):
    if not pd.isna(row['country_name_consistent']):
        return row['country_name_consistent']
    else:
        return row['Name']
google_dataset['country_final']=google_dataset[['country_name_consistent','Name']].apply(lambda row: fill_country(row),axis=1)

google_dataset[['country_name_consistent','country_final']].describe()

       country_name_consistent  country_final
count                   311039         337690
unique                     187            234
top              United States  United States
freq                    132132         136976

In [37]:
cities_raw = google_dataset.groupby('city').size().sort_values(ascending = False)
print(cities_raw.head(60))
print(cities_raw.tail(60))

city
calgary             4591
toronto             3769
edmonton            3428
london              3374
montreal            2780
mississauga         2729
new york            1782
quebec              1766
ottawa              1705
winnipeg            1625
north york          1607
indianapolis        1562
dallas              1536
brampton            1407
richmond            1394
bristol             1350
columbus            1330
charlotte           1330
seattle             1326
houston             1323
vancouver           1294
portland            1240
oklahoma city       1239
hamilton            1217
philadelphia        1214
boston              1164
madison             1115
scarborough         1112
saskatoon           1103
phoenix             1051
cambridge           1010
burlington          1007
markham              949
atlanta              944
chicago              925
birmingham           915
aurora               914
baltimore            912
laval                889
windsor              887
oakville             879
manchester           877
concord              876
woodbridge           858
dubai                822
tucson               815
etobicoke            800
los angeles          799
regina               783
jacksonville         771
richmond hill        761
lexington            759
louisville           741
glasgow              740
kitchener            738
colorado springs     719
san antonio          702
baton rouge          688
san diego            687
barrie               677
dtype: int64
city
phan thiet               1
glenholme                1
glenlee                  1
glenmora                 1
petticoat creek          1
peterhead                1
glenties                 1
petermann                1
glenthompson             1
glenrock                 1
peterson                 1
peterstown               1
petionville              1
petit-noir               1
glenorie                 1
glenolden                1
petite-foret             1
glenns ferry             1
glenmore park            1
petrozavodsk 26          1
glenelg south            1
glencliff                1
piercebridge             1
gladstone park           1
pianezza                 1
pianezze                 1
glasbury                 1
glapwell                 1
glandore                 1
glageon                  1
pickett                  1
gladehill                1
phil campbell            1
picquigny                1
giza                     1
givry                    1
piddlehinton             1
givors                   1
givisiez                 1
pierce city              1
pialligo                 1
glass house mountains    1
piacenza                 1
gleize                   1
glenboro                 1
glen williams            1
glen rose                1
glen robertson           1
glen ridge               1
glen parva               1
glen osmond              1
glen huntly              1
glen forrest             1
phippsburg               1
glen eden                1
phra pradaeng            1
glen arbor               1
phuc yen                 1
glemsford                1
zywiec                   1
dtype: int64

In [ ]:
cities_raw[cities_raw.index.str.startswith('moskva')].head(20)

city
moskva 90     1
moskva 404    1
moskva 342    1
dtype: int64

In [ ]:
cities_raw[cities_raw.index.str.startswith('dublin')].head(20)

city
dublin       196
dublin 22      3
dublin 2       2
dublin 1       2
dublin 7       1
dublin 4       1
dublin 24      1
dublin 15      1
dtype: int64

In [38]:
regions_raw = google_dataset.groupby('region_name').size().sort_values(ascending = False)
print(regions_raw.head(60))
print(regions_raw.tail(60))

region_name
ontario                 40045
england                 37009
quebec                  16999
alberta                 13591
texas                   11306
california              10293
british columbia         6552
florida                  5206
new york                 4846
north carolina           4454
ohio                     4366
indiana                  4179
virginia                 3817
arizona                  3809
washington               3775
pennsylvania             3759
new south wales          3672
michigan                 3661
massachusetts            3585
wisconsin                3513
illinois                 3439
colorado                 3418
saskatchewan             3098
georgia                  3072
louisiana                3070
victoria                 3069
oklahoma                 2826
kentucky                 2716
scotland                 2694
tennessee                2693
queensland               2435
manitoba                 2390
oregon                   2351
maryland                 2273
new jersey               2159
missouri                 2117
occitanie                2084
ile-de-france            1829
alabama                  1829
kansas                   1809
iowa                     1762
south carolina           1693
arkansas                 1654
wales                    1646
western australia        1626
mississippi              1525
nova scotia              1517
nebraska                 1510
connecticut              1483
minnesota                1438
hauts-de-france          1422
nevada                   1384
rhode island             1346
north dakota             1332
maine                    1256
new hampshire            1231
auvergne-rhone-alpes     1191
new brunswick            1179
idaho                    1165
south australia          1118
dtype: int64
region_name
mosselbay                        1
nigel                            1
miranda                          1
matabeleland south province      1
departamento de chuquisaca       1
mimaropa                         1
departamento de chiquimula       1
baleares                         1
minsk                            1
departamento de chimaltenango    1
misiones                         1
departamento de boyaca           1
departamento de carazo           1
departamento de caldas           1
mohafazat beqaa                  1
mohafazat liban-nord             1
moka district                    1
baja california sur              1
monufia                          1
ngwaketsi                        1
nineveh                          1
otjozondjupa                     1
corum                            1
obcina zalec                     1
obwalden                         1
ardahan                          1
ogooue-maritime                  1
ogun state                       1
aragua                           1
okayama                          1
corse                            1
obcina domzale                   1
oruro                            1
osh oblasty                      1
oshana                           1
osjecko-baranjska zupanija       1
ostfold                          1
ostrobothnia region              1
corozal district                 1
obcina ivancna gorica            1
nylstroom                        1
nisava                           1
northern province                1
noord-holland                    1
nord                             1
dasmarinas                       1
north karelia                    1
dagestan respublika              1
north-east                       1
north-west region                1
northern region                  1
cusco                            1
northern savonia                 1
artigas                          1
arequipa                         1
dadra & nagar haveli             1
novosibirskaia oblast'           1
nqutu                            1
nuble                            1
boumerdes                        1
dtype: int64

In [ ]:
regions_raw[regions_raw.index.str.startswith('dublin')]

region_name
dublin 22    3
dublin 1     2
dublin 15    1
dublin 2     1
dublin 24    1
dublin 4     1
dublin 7     1
dtype: int64

In [ ]:
regions_raw[regions_raw.index.str.startswith('moskva')]

region_name
moskva    3
dtype: int64

In [40]:
def clean_region_or_city(region_or_city):
    if not pd.isna(region_or_city):
        if not (region_or_city.strip()).isalpha():
            return region_or_city.strip().translate({ord(ch): None for ch in '0123456789'}).title().strip(' "').strip("'")
        else:
            return region_or_city.strip(" '").strip('"').title()
    
    else:
        return np.nan

google_dataset['city_consistent'] = google_dataset['city'].apply(clean_region_or_city)
google_dataset['region_consistent'] = google_dataset['region_name'].apply(clean_region_or_city)

In [41]:
google_dataset[google_dataset['city'].str.startswith('moskva') & google_dataset['city'].notna()].head()

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,...,zip_code,domain,country_name_consistent,country_code_consistent,phone_country_code_consistent,Name,Code,country_final,city_consistent,region_consistent
225888,"140125, Московская обл, 1-я Стекольная ул., 1,...",Glass & Mirror Stores,moskva 404,NaN,russia,Pilkington Glass,7.495370e+10,NaN,"140125, Московская обл, 1-я Стекольная ул., 1",(495) 369-95-00,...,115404,firstinglass.ru,Russia,NaN,NaN,NaN,NaN,Russia,Moskva,Moskva
270379,"Миклухо-Маклая ул 42 Москва, АО, Russia, 117342",NaN,moskva 342,ru,russia,Moltomolto,7.495545e+10,ru,"АО, Moscow, Russia",+7 495 545-48-89,...,117342,moltomolto.ru,Russia,RU,RU,Russian Federation,RU,Russia,Moskva,Moskva
320679,"129090, Москва, Троицкая ул., д, Troitskaya Ul...",Energy - Equipment & Supplies,moskva 90,ru,russia,Corporation GazEnergoStroy,7.495792e+10,ru,"Moscow, Russia",+7 495 792-39-42,...,129090,gazenergostroy.ru,Russia,RU,RU,Russian Federation,RU,Russia,Moskva,Moskva

In [ ]:
google_dataset.columns

Index(['address', 'category', 'city', 'country_code', 'country_name', 'name',
       'phone', 'phone_country_code', 'raw_address', 'raw_phone',
       'region_code', 'region_name', 'text', 'zip_code', 'domain',
       'country_name_consistent', 'country_code_consistent',
       'phone_country_code_consistent', 'Name', 'Code', 'country_final',
       'city_consitent', 'region_consitent'],
      dtype='object')

In [42]:
columns_to_keep = ['address', 'category', 'name',
       'phone', 'raw_address', 'raw_phone',
       'region_code', 'region_name', 'text', 'zip_code', 'domain',
        'country_final',
       'city_consistent', 'region_consistent']
google_dataset_clean = google_dataset[columns_to_keep]
google_dataset_clean.head()

,address,category,name,phone,raw_address,raw_phone,region_code,region_name,text,zip_code,domain,country_final,city_consistent,region_consistent
0,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,Spotlight West Gosford,6.124336e+10,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) · Craft store West Gosford NSW, Aust...",2250,spotlightstores.com,Australia,Gosford,New South Wales
1,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,Heritage Christian Book Store,1.905937e+10,400 Scott St · In Grantham Plaza,+1 905-937-4553,on,ontario,4.7 (100) · Book store 400 Scott St · In Grant...,l2m 3w2,bookmanager.com,Canada,St. Catharines,Ontario
2,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,Pleasant Timber Mart,1.902743e+10,"7+ years in business · Yarmouth, NS, Canada",+1 902-742-9181,ns,nova scotia,4.7 (40) · Building materials store 7+ years i...,b5a 2j9,timbermart.ca,Canada,Yarmouth,Nova Scotia
3,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,Skin Specifics Medical Spa West LA,1.818427e+10,7+ years in business · 11040 Santa Monica Blvd...,+1 818-426-8353,ca,california,4.3 (15) · Medical spa 7+ years in business · ...,90025,linktr.ee,United States,Los Angeles,California
4,NaN,Catering & Delivery,Lakay express,NaN,NaN,NaN,NaN,NaN,5.0 (1) · Mobile caterer Open ⋅ Closes 9PM,NaN,linktr.ee,NaN,NaN,NaN

In [43]:
with gcs.open('soleadify_sample_data/clean_data/google_dataset_clean.csv', 'w') as f:
    google_dataset_clean.to_csv(f,index=False, quotechar='"', escapechar='\\')

In [44]:
facebook_dataset.describe(include='all')

,domain,address,categories,city,country_code,country_name,description,email,link,name,page_type,phone,phone_country_code,region_code,region_name,zip_code
count,72010,57380,55310,45106,57874,45404,28003,20289,72010,72009,72004,4.486600e+04,38013,45101,45101,36049
unique,72010,57121,10184,6353,130,117,27625,20280,72010,71837,4,NaN,100,435,686,26223
top,euro-hygiene-34.fr,"calgary, ab, canada, t2g, calgary, ab, canada,...",Auto Services,toronto,ca,canada,History Museum,ford.can.gp@gmail.com,https://euro-hygiene-34.fr,Nissan,LocalBusiness,NaN,ca,on,ontario,victoria
freq,1,9,935,2713,41955,31160,273,7,1,7,52747,NaN,33726,16710,16710,463
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.517792e+10,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.945566e+12,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.114030e+06,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.416606e+10,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.604368e+10,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.815358e+10,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.118001e+14,NaN,NaN,NaN,NaN

In [ ]:
# To do - make country, region, city consitent using a similar approach to google dataset
# Again country code seems to have more coverage than country. To be combined with phone country code and then with iso codes
# domain seems to be unique
# phone is different than from google
# The best approach would be to combine the 3 datasets using common elements - Country, City/Region
# Then combine and keep only 1 using string matchin

In [8]:
countries_raw = facebook_dataset.groupby('country_name').size().sort_values(ascending = False)
print(countries_raw.head(60))
print(countries_raw.tail(60))

country_name
canada                  31160
united states            6367
australia                1614
united kingdom            939
russia                    508
united arab emirates      424
south africa              419
germany                   391
turkey                    385
netherlands               376
belgium                   317
malaysia                  294
france                    282
singapore                 222
india                     164
hong kong                 157
greece                    146
taiwan                    145
poland                    124
spain                     103
south korea                71
philippines                59
china                      55
new zealand                55
italy                      47
vietnam                    47
japan                      42
austria                    31
sweden                     28
bangladesh                 24
indonesia                  23
switzerland                20
norway                     19
denmark                    19
qatar                      17
sri lanka                  16
mexico                     15
romania                    12
colombia                   11
ecuador                    11
saudi arabia               11
finland                    11
pakistan                   10
chile                      10
brazil                     10
ireland                     8
hungary                     8
panama                      8
oman                        7
argentina                   7
egypt                       7
ukraine                     7
thailand                    7
estonia                     6
czechia                     6
croatia                     5
liechtenstein               5
honduras                    5
kuwait                      5
albania                     5
dtype: int64
country_name
honduras                       5
kuwait                         5
albania                        5
portugal                       5
el salvador                    5
dominican republic             5
costa rica                     5
trinidad and tobago            4
republic of lithuania          3
serbia                         3
peru                           3
israel                         3
venezuela                      3
georgia                        2
gibraltar                      2
belarus                        2
bulgaria                       2
zimbabwe                       2
iceland                        2
zambia                         2
togo                           2
slovakia                       2
mozambique                     2
paraguay                       2
kyrgyzstan                     1
latvia                         1
senegal                        1
brunei                         1
guam                           1
botswana                       1
bosnia and herzegovina         1
bolivia                        1
slovenia                       1
tajikistan                     1
barbados                       1
guatemala                      1
u.s. virgin islands            1
uganda                         1
armenia                        1
uzbekistan                     1
angola                         1
cambodia                       1
réunion                        1
republic of moldova            1
morocco                        1
gabon                          1
french polynesia               1
lebanon                        1
kosovo                         1
mauritius                      1
monaco                         1
iraq                           1
puerto rico                    1
myanmar                        1
namibia                        1
new caledonia                  1
nicaragua                      1
nigeria                        1
hashemite kingdom of jordan    1
luxembourg                     1
dtype: int64

In [9]:
country_codes_raw = facebook_dataset.groupby('country_code').size().sort_values(ascending = False)
print(country_codes_raw.head(60))
print(country_codes_raw.tail(60))

country_code
ca    41955
us     6703
au     1670
gb     1240
ru      538
tr      508
ae      456
za      445
de      441
nl      393
jp      336
be      331
my      313
fr      294
sg      227
in      212
gr      173
hk      163
tw      162
pl      140
kr      125
es      115
nz       72
ph       64
cn       57
vn       55
it       52
bd       35
at       32
qa       30
se       29
id       28
lk       22
mx       21
ch       20
no       19
dk       19
th       16
br       16
ec       15
co       15
ro       14
pa       13
sa       12
fi       12
om       12
ar       12
pk       11
cl       10
ie        9
eg        9
hu        8
gt        7
ua        7
cz        7
il        7
sv        7
pr        7
kw        6
ee        6
dtype: int64
country_code
ve    4
bs    3
lt    3
rs    3
bg    2
by    2
ba    2
bb    2
gi    2
ge    2
bz    2
zw    2
iq    2
lu    2
is    2
sk    2
mz    2
mt    2
md    2
py    2
ug    2
tg    2
vg    2
zm    2
vi    2
uy    1
sn    1
si    1
xk    1
bw    1
am    1
ao    1
bo    1
bn    1
bh    1
sx    1
uz    1
tj    1
re    1
ni    1
pf    1
np    1
jm    1
gy    1
gu    1
ke    1
kg    1
kh    1
ga    1
lv    1
fo    1
ma    1
mc    1
mk    1
mm    1
mo    1
mu    1
nc    1
ng    1
lb    1
dtype: int64

In [10]:
facebook_dataset[facebook_dataset['country_name'].isna() & facebook_dataset['country_code'].notna()].shape[0]

12471

In [11]:
facebook_dataset[facebook_dataset['country_code'].isna() & facebook_dataset['phone_country_code'].notna()].shape[0]

0

In [12]:
region_names_raw = facebook_dataset.groupby('region_name').size().sort_values(ascending = False)
print(region_names_raw.head(60))
print(region_names_raw.tail(60))

region_name
ontario              16710
alberta               6487
quebec                3764
british columbia      1541
saskatchewan          1217
manitoba              1036
england                896
texas                  888
victoria               482
california             471
new south wales        470
new york               343
illinois               300
pennsylvania           294
dubai                  283
virginia               262
western australia      259
moscow                 256
gauteng                250
indiana                229
michigan               220
queensland             218
ohio                   213
istanbul               198
nova scotia            196
florida                188
flanders               178
wisconsin              161
massachusetts          160
washington             153
north carolina         148
new jersey             141
connecticut            139
south australia        139
georgia                138
new brunswick          115
minnesota              113
kuala lumpur           111
baden-wurttemberg      110
abu dhabi              105
missouri               105
iowa                   104
selangor               100
maryland                94
kansas                  94
colorado                90
attica                  89
arizona                 89
tennessee               88
rheinland-pfalz         88
south holland           83
alabama                 79
kentucky                78
arkansas                76
north holland           72
louisiana               68
south carolina          68
taipei city             67
north brabant           65
mississippi             65
dtype: int64
region_name
grand port district                1
gorod bishkek                      1
transbaikal territory              1
eastern province                   1
ekiti state                        1
trondelag                          1
esch-sur-alzette                   1
estuaire                           1
flevoland                          1
transnistria                       1
gaborone                           1
goa                                1
tottori                            1
gangwon-do                         1
toshkent shahri                    1
toplica                            1
tiumenskaia oblast'                1
germiston                          1
gisborne                           1
iles du vent                       1
talisay city                       1
styria                             1
sogn og fjordane                   1
soshanguve                         1
khanty-mansia                      1
khomas                             1
songkhla                           1
komi                               1
somogy megye                       1
koprivnicko-krizevacka zupanija    1
sivas                              1
karelia                            1
kymenlaakso                        1
kyoto                              1
latium                             1
lazio                              1
leningradskaia oblast'             1
leningradskaya oblast'             1
liberecky kraj                     1
south province                     1
karaman                            1
islamabad                          1
jonkoping                          1
ivanovskaya oblast'                1
st.-petersburg                     1
jalisco                            1
jammu and kashmir                  1
jeju-do                            1
jeollanam-do                       1
johannesburg                       1
jurong east street 24              1
karabuek                           1
kahramanmaras                      1
southern savonia                   1
kamphaeng phet                     1
kanagawa                           1
southern province                  1
kanton graubunden                  1
kanton zurich                      1
abruzzo                            1
dtype: int64

In [13]:
cities_raw = facebook_dataset.groupby('city').size().sort_values(ascending = False)
print(cities_raw.head(60))
print(cities_raw.tail(60))

city
toronto            2713
calgary            2529
edmonton           1792
mississauga        1580
ottawa              816
winnipeg            799
brampton            653
london              642
markham             553
saskatoon           529
montreal            508
oakville            497
hamilton            482
burlington          441
richmond hill       403
quebec              401
kitchener           383
vancouver           369
dallas              361
regina              356
barrie              351
windsor             338
woodbridge          325
dubai               283
guelph              260
moscow              260
cambridge           246
lethbridge          239
red deer            230
waterloo            226
grande prairie      204
kingston            202
newmarket           191
vaughan             188
oshawa              179
sherwood park       173
milton              171
whitby              169
brantford           161
greater sudbury     156
aurora              155
peterborough        153
thunder bay         152
pickering           142
ajax                142
thornhill           130
medicine hat        124
airdrie             122
sherbrooke          121
laval               119
colleyville         117
niagara falls       117
sydney              113
kuala lumpur        111
langley             110
istanbul            110
abu dhabi           105
belleville          105
kelowna             100
longueuil            99
dtype: int64
city
mosquero               1
mossel bay             1
motherwell             1
morphett vale          1
morlaas                1
muscatine              1
morin-heights          1
moonee ponds           1
moore park             1
moorebank              1
moraga                 1
moraleja de enmedio    1
moravia                1
morbi mdg              1
morecambe              1
moree                  1
morehead city          1
moreno valley          1
moreuil                1
morgan city            1
morganfield            1
morganton              1
mount albert           1
mount calm             1
mount clear            1
mount evelyn           1
mulgoa                 1
mulheim an der ruhr    1
mullheim               1
mullumbimby            1
multan                 1
mundaring              1
munising               1
munno para             1
munno para downs       1
munster                1
muratli                1
murdoch                1
murgon                 1
murphy                 1
murray bridge          1
muju                   1
muhlhausen             1
mudgeeraba             1
mount rainier          1
mount forest           1
mount gilead           1
mount helena           1
mount joy              1
mount louisa           1
mount orab             1
mount royal            1
mudgee                 1
mount shasta           1
mountain home          1
mountain iron          1
mountain lakes         1
mountain pine          1
mozhaysk               1
100.yil                1
dtype: int64

In [45]:
facebook_dataset['country_name_consistent'] = facebook_dataset['country_name'].apply(lambda x: x.strip().title() if not pd.isna(x) else x)

In [46]:
def clean_codes(country_code):
    if not pd.isna(country_code):
        if country_code == '001':
            return np.nan
        else:
            return country_code.strip().upper()
    else:
        return np.nan

facebook_dataset['country_code_consistent'] = facebook_dataset['country_code'].apply(clean_codes)

In [47]:
with gcs.open(pathFiles + 'iso_codes.csv') as f:
    countries_iso = pd.read_csv(f, header = 0, names = ['ISO_Country_Name', 'ISO_2_Country_Code'])
    
countries_iso['ISO_2_Country_Code'] = countries_iso['ISO_2_Country_Code'].fillna('NA')

facebook_dataset = facebook_dataset.merge(countries_iso, how = 'left', left_on = 'country_code_consistent', right_on = 'ISO_2_Country_Code')

def fill_country(row):
    if not pd.isna(row['country_name_consistent']):
        return row['country_name_consistent']
    else:
        return row['ISO_Country_Name']

facebook_dataset['country_final']=facebook_dataset[['country_name_consistent','ISO_Country_Name']].apply(lambda row: fill_country(row),axis=1)

facebook_dataset[['country_name_consistent','country_final']].describe()

       country_name_consistent country_final
count                    45404         57875
unique                     117           142
top                     Canada        Canada
freq                     31160         41955

In [17]:
"leningradskaia oblast'".isalpha()

False

In [48]:
def clean_region_or_city(region_or_city):
    if not pd.isna(region_or_city):
        if not (region_or_city.strip()).isalpha():
            return region_or_city.strip().translate({ord(ch): None for ch in '0123456789'}).title().strip(" '").strip('"')
        elif region_or_city in ["leningradskaia oblast'","leningradskaya oblast'"]:
            return "Leningradskaya Oblast"
        elif region_or_city == "st.-petersburg":
            return "St Petersburg"
        else:
            return region_or_city.strip(" '").strip('"').title()
    else:
        return np.nan

facebook_dataset['city_consistent'] = facebook_dataset['city'].apply(clean_region_or_city)
facebook_dataset['region_consistent'] = facebook_dataset['region_name'].apply(clean_region_or_city)

In [19]:
facebook_dataset.head()

                    domain  ... region_consistent
0       euro-hygiene-34.fr  ...         Occitanie
1  lakesidehomeservices.ca  ...              None
2        rossiterboats.com  ...              None
3     caa-architecture.com  ...  British Columbia
4            apexsurety.ca  ...          Manitoba

[5 rows x 23 columns]

In [49]:
facebook_dataset.columns

Index(['domain', 'address', 'categories', 'city', 'country_code',
       'country_name', 'description', 'email', 'link', 'name', 'page_type',
       'phone', 'phone_country_code', 'region_code', 'region_name', 'zip_code',
       'country_name_consistent', 'country_code_consistent',
       'ISO_Country_Name', 'ISO_2_Country_Code', 'country_final',
       'city_consistent', 'region_consistent'],
      dtype='object')

In [50]:
columns_to_keep = ['domain', 'address', 'categories', 
 'description', 'email', 'link', 'name', 'page_type',
       'phone',  'region_code',  'zip_code', 'country_final',
       'city_consistent', 'region_consistent']
facebook_dataset_clean = facebook_dataset[columns_to_keep]
facebook_dataset_clean.head()

,domain,address,categories,description,email,link,name,page_type,phone,region_code,zip_code,country_final,city_consistent,region_consistent
0,euro-hygiene-34.fr,"134 rue entrepreneurs, za du vigné, 30420, cal...",NaN,NaN,NaN,https://euro-hygiene-34.fr,Euro Hygiène,LocalBusiness,NaN,occ,30420,France,Calvisson,Occitanie
1,lakesidehomeservices.ca,NaN,Appliance Repair & Maintenance|Home Builders &...,NaN,NaN,https://lakesidehomeservices.ca,Lakeside Home Services,LocalBusiness,1.613832e+10,NaN,NaN,Canada,NaN,NaN
2,rossiterboats.com,NaN,Boats & Yachts Dealers|Boat Tours & Cruises,At Rossiter Boats we build semi-custom power b...,info@rossiterboats.com,http://rossiterboats.com,Rossiter Boats,LocalBusiness,NaN,NaN,NaN,NaN,NaN,NaN
3,caa-architecture.com,"601 cordova st w # 270, v6b 1g1, vancouver, bc...",Architects & Architectural Services|Other Engi...,NaN,office@caa-arcitecture.com,http://caa-architecture.com,Chandler Associates Architecture Inc.,LocalBusiness,1.604687e+10,bc,v6b 1g1,Canada,Vancouver,British Columbia
4,apexsurety.ca,"unit 3 - 4 donald street, r3l 2t7, winnipeg, m...",NaN,NaN,NaN,https://apexsurety.ca,Apex Surety & Insurance Ltd.,LocalBusiness,1.204560e+10,mb,r3l 2t7,Canada,Winnipeg,Manitoba

In [51]:
with gcs.open('soleadify_sample_data/clean_data/facebook_dataset_clean.csv','w') as f:
    facebook_dataset_clean.to_csv(f, index = False  , quotechar='"', escapechar='\\')